<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">

    <div class = "approvals">
      <h2>Approval of Condition Report</h2>
        <%= simple_form_for ([@room_element, @room_element_approval]) do |f| %>
        <div class="row">
          <div class= "col-xs-6">
            <%= f.input :tenant_approval, :default => true %>
          </div>
          <div class= "col-xs-6">
            <%= f.input :owner_approval %>
          </div>
          <div class= "col-xs-12">
            <%= f.button :submit, "Approve Condition Report", class: "btn btn-primary" %>
          </div>
          <% end %>
          </div>
        </div>
    </div>
