<div class="confirmation ">
<!--   <div class="wrapper wrapper-confirmation"> -->
    <h2 class="text-center"> REPORT SUBMITTED SUCCESSFULLY </h2>
    <div class="text-center"> We've sent a copy to your email
      <i class="far fa-check-circle"></i>
    </div>
    <%= link_to "Download your PDF", condition_report_path(@conditionreport, format: :pdf), target: "_blank", class: "link-text" %>
</div>

