<% content_for :page_header do %>
<div class="page-header">
  <<!-- h1 class="page-header-title">Condition Report</h1> -->
  <h4 class="page-header-address">Level 1, 41-43 Stewart St, Richmond, VIC 3121, Australia</h4>
</div>
<% end %>

<div class="edit">
  <div class="card">
    <h2 class="heading">Bedroom</h2>
    <h3 class="sub-heading">Door</h3>
    <div class="comments">
      <ul class="state tags">
        <li class="tag">Clean</li>
        <li class="tag">Working</li>
        <li class="tag">Undamaged</li>
      </ul>
      <div class="comment">
        <div class="text-comment">
          <p>Wooden, brass handle</p>
        </div>
        <div class="comment-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Wooden_door_with_climbing_ivy_%28Unsplash%29.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="approval">
      <i class="far fa-check-square"></i>
    </div>
    <div class="add-comment">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>

