
.comments-page-design {
	background-color: white;
	margin-top: 20px;
	padding: 10px;
}

legend {
	display: none;
}

  .btn-camera {
  color: #5D7FDA;
  font-size: 36px !important;
  }

  .camera-hidden {
    display: none;
  }

.comments-checkbox {
	display: inline-block;
	color: red;
}

