
.comments-page-design {
	background-color: #37517e;
	margin-top: 20px;
	padding: 10px;
}

legend {
	display: none;
}

.state-choices {
   display: flex;
   justify-content: space-between;
}

 .state-choice {
   background: #b7b7b7;
   padding: 20px;
}
