
.comments-page-design {
	background-color: white;
	margin-top: 20px;
	padding: 10px;
}

legend {
	display: none;
}

.state-choices {
   display: flex;
   justify-content: space-between;
}

 .state-choice {
   background: white;
   padding: 20px;
}

  .btn-camera {
  color: #5D7FDA;
  font-size: 36px !important;
  }

  .camera-hidden {
    display: none;
  }
