body {
  background-color: white;
}

.page-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.page-header {
  background-image: linear-gradient(to right top, #5d7fda, #4e76df, #3e6ce4, #2c62e8, #1258eb);


  .page-header-title {
    padding-top: 25px;
    color: white;
    font-size: 15px;
  }

  .page-header-address {
    color: white;
  }
}

.edit {

  .form-check-label {
    padding: 5px;
  }

   .heading {
      font-size: 30px;
      color: #7D6DCD;
      font-weight: 500;
    }

  .card {

    position: relative;
    margin-top: 50px;
    background-color: white;
    padding: 5px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px white;




    .sub-heading {
      font-size: 20px;
      color: #5D7FDA;
      margin: 0;
      margin-left: 30px;
    }

    .comment-image img {
      width: 100px;
      height: 100px;
    }

    .approval {
      color: #7D6DCD;
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 9px;
    }

    .add-comment i {
      // position:  absolute;
      // top: 20px;
      // right: 20px;
      font-size: 15px;
    }

    .comment {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 85%;
    }

    .comments .state  {
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;

       .tag {
        background: #00226B;
        border-radius: 3px 0 0 3px;
        color: white;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
        -webkit-transition: color 0.2s;
        font-size: 10px;
      }

      .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }

      .tag::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #00226B;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }

      .tag li {
        padding: 0px 10px;
        float: left;
      }

    }

  }

}

.expand-alix {
  margin-top:40px;
  .cards{
  width:690px;
  margin:0 auto;
  .card{
    background-color:#fff;
    border-radius:2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
      0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
    margin-bottom:15px;
    transition: all 0.3s;
    .card-header{
      text-transform:uppercase;
      position:relative;
      padding:10px;
      button.card-expand {
        position:absolute;
        left:5px;
        top:5px;
        line-height:10px;
        padding-right: 15px;
        vertical-align:middle;
        height:39px;
        border:none;
        background-color:transparent;
        cursor:pointer;
        color: #5D7FDA;

        i {

        }
        &:hover{
          background-color:#F9F9F9;
        }
        .expand{
          display:block;
          margin: 0;
        }
        .close{
          display:none;
        }
      }
    }
    .card-footer{
      border-top: 1px solid #eee;
      text-transform: uppercase;
      a{
        color: #757575;
        text-decoration:none;
      }
    }
    .card-body,
    .card-footer{
      padding:10px;
    }
    .card-inner{
      max-height:0;
      overflow:hidden;
      transition: max-height 0.5s;
    }
    &.expanded{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19),
        0 6px 6px rgba(0,0,0,0.23);
      .card-inner{
        max-height:500px;
      }
      button.card-expand{

        .expand{
          display:none;
        }
        .close{
          display:block;
          color: #5D7FDA;
        }
      }
      .card-header{
        border-bottom: 1px solid #eee;
      }
    }
  }
}
}
