.textblue {
	color: $blue;
}

// #background {
//     width: 100;
//     height: 50;
//     background-color: #E6F2FB; 
// }

.show-page-banner {
	.show-page-top {
		background: white;
		padding: 20px 20px 80px 20px;
	}
	.show-page-title {
		margin-top: 0;
	}
}

.show-page {
	.show-page-bottom {
		padding: 0;
	}
	.show-page-button {
		transform: translateY(-40px);
	}
}

.comment-hide {
	visibility: hidden;
}