<%= cl_image_tag photo, height: 80, width: 110, crop: :fill, class:"pop imagepreview"%>
<div class="modal fade swipebox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= cl_image_tag photo, class: "imagepreview comment_picture" %>
      </div>
    </div>
  </div>
</div>
