<div class="container">
  <div class="room">
    <div class="row">
      <div class="col-md-10">
        <h2 class="text-center"> Your Flidow Condition Report is now complete! ✅ </h2>
          <div class="text-center"> Here is a PDF copy of your report
            <i class="fas fa-paperclip"><%= link_to "Download your PDF", "#{condition_report_path(@conditionreport)}.pdf", target: "_blank"  %>
            </i>
          </div>
            <p class="text-center"> Check your email and share this report with your Landlord 📧 </p>
      </div>
    </div>
  </div>
</div>
