

<div class="home-page-design">

  <h4 class="text-center home-page-title"><strong>Condition reports, made easy, for everyone. </strong></h4>
  <div class="logo"><%= image_tag "Flidow 2.png", height: 100  %> <div class="logo-text"> Flidow </div> </div>
    <div class="text-center home-text">
      <small class= "font-text-home">Easy and efficient way to handle your condition reports, for the renter and the landlord.
      </small>
    </div>
  <div class="login">
    <%= link_to "Log in", user_session_path, class: "btn login-btn"%>
    <%= link_to "Sign up", new_user_registration_path, class: "btn login-btn"%>
  </div>
</div>



