

<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.22) 0%, rgba(0,36,61,0.22) 50%), url('<%= image_path "LandingPP.png" %>');">
  <div class="banner-content">
    <h4 class="text-center show-page-title"><strong> <span class="textblue">Condition reports</span>, made easy, for <span class="textblue">everyone</span>. </strong></h4>
      <div class="text-center home-text">
        <small class= "font-text-home">Easy and efficient way to handle your condition reports, for the renter and the landlord.
        </small>
      </div>
    </div>
  <div class="login">
  	<%= link_to "Log in", user_session_path, class: "btn btn-primary login-btn"%>
  	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary login-btn"%>
  </div>
</div>
<!-- </div> -->

