

<h2>Buttons</h2>
<button class="btn btn-primary">test button</button>
<button class="btn btn-warning">warning button</button>
<button class="btn btn-danger">dangerous button</button>

<hr />

<h2>Body text</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum vehicula lorem, in venenatis eros dapibus eu. Nam imperdiet tincidunt feugiat. Morbi euismod, ex vel semper iaculis, justo ex imperdiet sem, ut luctus quam orci sit amet est. Curabitur sed ultricies sapien. Proin mattis, velit ac cursus lacinia, massa ligula hendrerit leo, eget mollis magna erat vel ligula. Quisque elit ex, malesuada non pulvinar quis, finibus sit amet urna. Maecenas at purus et metus viverra viverra. Suspendisse potenti. Phasellus vulputate at nibh sit amet maximus. Suspendisse aliquet massa id diam vestibulum vehicula. Donec volutpat arcu ac euismod congue. Maecenas tempor ligula sed tellus ornare ornare. Nulla ac justo eu est vehicula sagittis a ut dui. Vestibulum sagittis risus vitae congue pretium. Cras feugiat et leo at elementum.</p>

<hr />

<h2>Subheader</h2>
<h2>Subheader</h2>

<hr />

<h2>Panels</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    There are 3 doors in the entrance room, the main door’s paint is slightly damanged.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    There are 3 doors in the entrance room, the main door’s paint is slightly damanged.
  </div>
</div>
<h2>Subheader</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    There are 3 doors in the entrance room, the main door’s paint is slightly damanged.
  </div>
</div>

