@keyframes clickButton {
    0% {font-size: 16px}
    30% {font-size: 18px}
    100% {font-size: 16px}
}

.action-bar {
  position: relative;
  text-align: center;
  margin: 30px 0;

  .action-bar-button {
    position: relative;
    z-index: 1;
  }
  .action-bar-light-part {
    background-color: white;
    position: absolute;
    top: 50%;
    left: -100px;
    right: -100px;
    height: 50%;

   &[disabled] {
    -webkit-animation: clickButton 0.5s;
    }
  }
}
