/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: 0;
  position: absolute;
  right: 10px;
  top: 80px;
  border-radius: 15px;
}
.alert-info {
  background: #bcbcbdb5;
}
.alert-warning {
  background: #bcbcbdb5;
}

