 $buttonSize: 72px;

 .btn {
    border-radius: $buttonSize / 2;
    height: $buttonSize;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 0 10px;
    min-width: 243px;
  }
