.form-check {
	.comment_state & {
		display: inline-block;
		margin-right: 10px;
		position: relative;

		label {
			padding: 2px 8px;
    		font-weight: 100;
			border: 1px solid #ddd;
			border-radius: 5px;
		}

		input {
			margin-right: 10px;
			visibility: hidden;
			position: absolute;

			&:checked ~ label {
				color: white;
				border-color: blue;
				background-image: linear-gradient(to right top, #5d7fda, #4e76df, #3e6ce4, #2c62e8, #1258eb);

			}
		}
	}
}
